# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
test_env/
*.db
backend/flood_data.db

# Node
node_modules/
dist/
.eslintcache

# OS
.DS_Store
Thumbs.db

# Model
model/saved_model/
saved_model/
